In [20]:
import pandas as pd
df = pd.DataFrame(columns = ["A", "B","C",'D'])
df.A=[8,9,10,18,25]
df.B=[1,2,3,36,24]
df.C=[8,9,10,18,25]
df.D=[1,2,3,36,24]

In [21]:
df

    A   B   C   D
0   8   1   8   1
1   9   2   9   2
2  10   3  10   3
3  18  36  18  36
4  25  24  25  24

In [22]:
value_percentiles=[]
value_percentiles.append(df.loc[1, 'A'])
value_percentiles.append(df.loc[1, 'B'])
value_percentiles.append(df.loc[1, 'C'])
value_percentiles.append(df.loc[1, 'C'])

In [23]:
value_percentiles

[9, 2, 9, 9]

In [24]:
from statistics import mean
mean(value_percentiles)

7